@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
body{
    background: rgb(20, 70, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    width: 350px;
    color: rgb(20, 70, 117);
    background-color: white;
    padding: 25px;
}

.wrapper h2{
    font-size: 30px;
}

.wrapper p{
   padding: 20px 0;
}

form input{
    width: 100%;
    outline: none;
    border: 1px solid rgb(20, 70, 117);
    padding:10px;
    font-size: 17px;
}

form button{
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    font-size: 17px;
    text-transform: uppercase;
    background-color: rgb(20, 70, 117);
    border: none;
    outline: none;
    color:white;
    opacity: 0.7;
    pointer-events: none;
}

form input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}

